.page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.page__title {
  font-size: 4rem;
  padding: 0.5em;
  font-weight: bold;
  color: #2c3e50;
}

.list {
  width: 100%;
  padding: 0.5em;
  display: grid;
  grid-template: repeat(auto-fit, minmax(10em, 1fr)) / repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 0.5em;
}

.list__item {
  border: 0.1em solid #2c3e50;
  border-radius: 0.4em;
  padding: 0.5em;
}

.list__item-title {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: bold;
  color: #2c3e50;
}

.list__item-text {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  color: #42b983;
}

.list__item-data {
  font-size: 1.4rem;
  color: #2c3e50;
}

@media (min-width: 768px) {
  .page {
    width: 76.8em;
  }

  .list {
    padding: 1em 0;
  }
}

@media (min-width: 900px) {
  .page {
    width: 90em;
  }
}

@media (min-width: 1200px) {
  .page {
    width: 120em;
  }
}

@media (min-width: 1400px) {
  .page {
    width: 140em;
  }
}

@media (min-width: 1600px) {
  .page {
    width: 160em;
  }
}
